In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# lego_sets data will also used for web scraping
lego_sets = pd.read_csv('lego_sets_01_03_2021.csv')

inventories = pd.read_csv('inventories_01_03_2021.csv')

inventory_minifigs = pd.read_csv('inventory_minifigs_01_03_2021.csv')

inventory_parts = pd.read_csv('inventory_parts_01_03_2021.csv')

inventory_sets = pd.read_csv('inventory_sets_01_03_2021.csv')

lego_colors = pd.read_csv('lego_colors_01_03_2021.csv')

lego_part_categories = pd.read_csv('lego_part_categories_01_03_2021.csv') 

lego_parts = pd.read_csv('lego_parts_01_03_2021.csv') 

lego_themes = pd.read_csv('lego_themes_01_03_2021.csv')

In [12]:
display(lego_sets.head(2))
display(lego_sets.shape)

  set_num               name  year  theme_id  num_parts
0   001-1              Gears  1965         1         43
1  0011-2  Town Mini-Figures  1978        84         12

(16195, 5)

In [44]:
display(inventories.head(2))
display(inventories.shape)

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1

(27377, 3)

In [45]:
inventories_filtered = inventories[[i in list(lego_sets['set_num']) for i in inventories['set_num']]]\
.reset_index(drop = True)

In [46]:
inventories_filtered.shape

(16721, 3)

In [50]:
inventories_filtered.to_csv('inventories_filtered_01_03_2021.csv',index = False)

In [47]:
inventory_minifigs_filtered =\
inventory_minifigs[[i in list(inventories_filtered['id']) for i in inventory_minifigs['inventory_id']]].reset_index(drop = True)

In [48]:
inventory_minifigs_filtered.shape

(16280, 3)

In [49]:
inventory_minifigs_filtered.to_csv('inventory_minifigs_filtered_01_03_2021.csv',index = False)

In [10]:
lego_themes.shape

(597, 3)

In [16]:
lego_themes['parent_id'] = lego_themes['parent_id'].fillna(lego_themes['id'])
lego_themes

      id  parent_id                            name
0      1        1.0                         Technic
1      2        1.0                  Arctic Technic
2      3        1.0                     Competition
3      4        1.0                  Expert Builder
4      5        1.0                           Model
..   ...        ...                             ...
592  708      697.0           The LEGO Batman Movie
593  709      709.0                        LEGO Art
594  710      207.0                    Harry Potter
595  711      535.0  The LEGO Batman Movie Series 2
596  712      535.0           Series 21 Minifigures

[597 rows x 3 columns]

In [18]:
lego_themes.to_csv('lego_themes_01_07_2021.csv',index = False)

In [59]:
lego_colors.drop(columns = 'external_ids', inplace = True)

In [60]:
lego_colors.to_csv('lego_colors_01_03_2021.csv',index = False)

In [5]:
inventory_parts_filtered =\
inventory_parts[[i in list(inventories_filtered['id']) for i in inventory_parts['inventory_id']]].reset_index(drop = True)

In [6]:
inventory_parts_filtered.shape

(827553, 5)

In [8]:
inventory_parts_filtered.to_csv('inventory_parts_filtered_01_03_2021.csv',index = False)

In [11]:
hehe = pd.read_csv('inventories_filtered_01_03_2021.csv')
len(set(hehe['set_num']))

16193

In [31]:
lego_sets['theme_id'].isin(lego_themes['id'])

0        True
1        True
2        True
3        True
4        True
         ...
16190    True
16191    True
16192    True
16193    True
16194    True
Name: theme_id, Length: 16195, dtype: bool

In [25]:
lego_themes['id']

0        1
1        2
2        3
3        4
4        5
      ...
592    708
593    709
594    710
595    711
596    712
Name: id, Length: 597, dtype: int64