In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [14]:
#load in Lego_sets data as a reference
lego_sets = pd.read_csv('data/lego_sets_01_03_2021.csv')
display(lego_sets.head())
display(lego_sets.shape)

  set_num                        name  year  theme_id  num_parts
0   001-1                       Gears  1965         1         43
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          0
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

(16195, 5)

#### BrickEconomy
Start with the data scraped from BrickEconomy as it has the most comprehensive information, e.g. original retail values, current values, growth.

In [15]:
brick_economy = pd.read_csv('data/brick_econ_overview01112021.csv')
display(brick_economy.head())
display(brick_economy.shape)

  set_num   Retail     Value    Growth Annual growth Available at Not yet
0   001-1   C$6.68   C$93.78   1303.4%          4.9%          NaN     NaN
1  0011-2   C$6.06   C$78.65   1197.6%          6.5%          NaN     NaN
2  0011-3  C$10.13  C$828.62   8083.9%         14.3%          NaN     NaN
3  0012-1   C$2.69  C$387.68  14330.7%         12.6%          NaN     NaN
4  0013-1   C$2.69  C$344.33  12717.1%         12.3%          NaN     NaN

(14246, 7)

In [16]:
# Check for nulls
brick_economy.isna().mean()

set_num          0.000000
Retail           0.174786
Value            0.144251
Growth           0.320651
Annual growth    0.224835
Available at     0.920118
Not yet          0.999930
dtype: float64

In [17]:
# Drop the last two columns with a large portion of null values
brick_economy = brick_economy.drop(['Available at', 'Not yet'], axis =1)

# Rename columns to be consistent with other tables
brick_economy = brick_economy.rename(columns = 
        {'Retail': 'rrp', 'Value': 'current_value', 'Growth': 'growth', 'Annual growth':'annual_growth'})

In [18]:
# Check the data types
brick_economy.dtypes

set_num          object
rrp              object
current_value    object
growth           object
annual_growth    object
dtype: object

In [19]:
# First extract the numeric $ value from rrp and value columns
brick_economy['rrp'] = brick_economy['rrp'].str.replace(',','').str.extract('(\d*\.\d+|\d+)')

brick_economy['current_value'] = brick_economy['current_value'].str.replace(',','').str.extract('(\d*\.\d+|\d+)')

In [20]:
# Also extract the numeric % value from growth and annual_growth columns
brick_economy['growth'] = brick_economy['growth'].str.replace(',','').str.extract('(\d*\.\d+|\d+)')

brick_economy['annual_growth'] = brick_economy['annual_growth'].str.replace(',','').str.extract('(\d*\.\d+|\d+)')

In [21]:
# Convert the above 4 columns to numerical data type
cols = brick_economy.columns.drop('set_num')
brick_economy[cols] = brick_economy[cols].astype(float)

In [22]:
# Further convert last 2 columns to percentage values (devided by 100)
brick_economy['growth']= brick_economy['growth']/100
brick_economy['annual_growth']= brick_economy['annual_growth']/100

In [23]:
# Verify conversions
display(brick_economy.dtypes)
display(brick_economy.head())

set_num           object
rrp              float64
current_value    float64
growth           float64
annual_growth    float64
dtype: object

  set_num    rrp  current_value   growth  annual_growth
0   001-1   6.68          93.78   13.034          0.049
1  0011-2   6.06          78.65   11.976          0.065
2  0011-3  10.13         828.62   80.839          0.143
3  0012-1   2.69         387.68  143.307          0.126
4  0013-1   2.69         344.33  127.171          0.123

In [24]:
brick_economy.to_csv('data/brick_economy01_12_2021.csv', index = False)

The focus is now shifted to deal with the null values in the *annual_growth* column. Note that:
- if the *release_year* is known, the *annual_growth* can be calculated from *growth*
- *growth* can also be calculated if both *rrp* and *current_value* are known
The goal is to retain as many lego sets in the dataset as possible. Data from a few other websites were scraped to help achieve this goal.

#### LEGO.com
Lego's official websites provides information about the original retail values.

In [25]:
lego_com = pd.read_csv('data/legocominfo.csv', index_col = 0)

In [26]:
display(lego_com.head())
display(lego_com.shape)

                   Dates        RRP  set_num       from         to
0  24 Oct 07 - 21 Dec 07      $5.99  10054-1  24 Oct 07  21 Dec 07
1  31 May 11 - 21 Jul 11  CA$139.99  10155-1  31 May 11  21 Jul 11
2  24 Oct 07 - 22 Sep 08      $3.99  10168-1  24 Oct 07  22 Sep 08
3  01 Jul 08 - 27 Nov 09     £78.29  10187-1  01 Jul 08  27 Nov 09
4  28 Sep 11 - 21 Nov 20  CA$129.99  10220-1  28 Sep 11  21 Nov 20

(406, 5)

This is a relatively small table with information about 406 lego sets.

In [27]:
#rename columns to lower case
lego_com.columns= lego_com.columns.str.lower()

# Drop dates column due to duplicated information
lego_com.drop('dates', axis = 1, inplace = True)

In [28]:
# Create a currency column to differentiate different currencies
lego_com.insert(1,'currency',1)
lego_com['currency'][lego_com['rrp'].str.startswith('£')] = 'b'
lego_com['currency'][lego_com['rrp'].str.startswith('CA')] = 'c'
lego_com['currency'][lego_com['rrp'].str.startswith('$')] = 'u'

In [29]:
# Extract the numeric currency values from the rrp column and perform conversion using the current exchange rates
lego_com['rrp'] = lego_com['rrp'].str.extract('(\d*\.\d+|\d+)').astype(float)

# Use current exchange rate of 1.27 for USD-CAD, and 1.74 for GBP-CAD
lego_com['rrp'][lego_com['currency']=='u'] = lego_com['rrp']*1.27
lego_com['rrp'][lego_com['currency']=='b'] = lego_com['rrp']*1.74

# Drop currency column
lego_com.drop('currency', axis =1, inplace = True)

In [30]:
# Covert dates to datetime datatype
lego_com['from'] = lego_com['from'].str.replace(' ', '-').astype('datetime64')
lego_com['to'] = lego_com['to'].str.replace(' ', '-').astype('datetime64')

# Add a column to show how long each set was available for on the official retail website
lego_com['availability_duration_days'] = (lego_com['to'] - lego_com['from']).dt.days

lego_com['availability_duration_days'].describe()

count     406.000000
mean      468.842365
std       419.498377
min         0.000000
25%       227.250000
50%       375.500000
75%       616.000000
max      3342.000000
Name: availability_duration_days, dtype: float64

The medium availability_duration of the lego sets on their official website is 468 days (less than 1.5 years).

In [31]:
lego_com.dtypes

rrp                                  float64
set_num                               object
from                          datetime64[ns]
to                            datetime64[ns]
availability_duration_days             int64
dtype: object

In [32]:
#Create a dictionary between set_num and rrp
legocom_rrp_dict = {lego_com['set_num'][i]:lego_com['rrp'][i] for i in range(lego_com.shape[0])}

In [33]:
# Fill in the nulls in the rrp column of the brick_economy dataframe using above dictionary 
for i in range(brick_economy.shape[0]):
    if (np.isnan(brick_economy['rrp'][i])) & (brick_economy['set_num'][i] in legocom_rrp_dict.keys()):
        brick_economy['rrp'][i] = legocom_rrp_dict[brick_economy['set_num'][i]]

#### BrickLink
BrickLink is one of the main secondary Lego markets. It provides up to date information about the current values of the lego sets.

In [34]:
# Concatenate the two dataframes scraped from Bricklink into one
bricklink1 = pd.read_csv('data/bricklink_price.csv', index_col = 0, header =0, names = ['set_num', 'value_new', 'value_used'])
bricklink2 = pd.read_csv('data/bricklink_price2.csv', index_col = 0, header =0, names = ['set_num', 'value_new', 'value_used'])

bricklink = pd.concat([bricklink1,bricklink2], axis =0, ignore_index = True).drop_duplicates(ignore_index = True)

In [35]:
display(bricklink.head())
display(bricklink.shape)

  set_num value_new  value_used
0   001-1         -   CA $80.26
1  0011-2         -   CA $22.26
2  0016-1         -           -
3   002-1         -  CA $147.68
4   005-2         -   CA $98.23

(11440, 3)

In [36]:
bricklink.isnull().mean()

set_num       0.0
value_new     0.0
value_used    0.0
dtype: float64

A large portion (11440/16195) of the lego sets can be found trading on bricklink. Conditions include new and used.

In [37]:
# Extract the numerical $ values from the 'value_new' and 'value_used' columns
bricklink['value_new'] = bricklink['value_new'].str.split('$').str[1]
bricklink['value_used'] = bricklink['value_used'].str.split('$').str[1]

# Convert columns to Numeric data type
bricklink['value_new'] = bricklink['value_new'].str.replace(',','').astype(float)
bricklink['value_used'] = bricklink['value_used'].str.replace(',','').astype(float)

In [38]:
# The current_values in BrickEconomy are for new sets. Rename 'value_new' to 'current_value'
bricklink = bricklink.rename(columns = {'value_new':'current_value'})

In [39]:
#Creat a set_num - current_value dictionary
bricklink_dict = {bricklink['set_num'][i]:bricklink['current_value'][i]\
                  for i in range(bricklink.shape[0])}

In [40]:
# Fill in the nulls in the current_value column of the brick_economy dataframe using above dictionary 
for i in range(brick_economy.shape[0]):
    if (np.isnan(brick_economy['current_value'][i])) & (brick_economy['set_num'][i] in bricklink_dict.keys()):
        brick_economy['current_value'][i] = bricklink_dict[brick_economy['set_num'][i]]

#### BrickOwl
BrickOwl is another main secondary Lego markets. It also provides up to date information about the current values of the lego sets.

In [42]:
brick_owl = pd.read_csv('data/brick_owl.csv')

In [43]:
display(brick_owl.head())
display(brick_owl.shape)

   set_num   value
0  10000-1  224.72
1  10001-1  457.96
2  10013-1   99.35
3  10016-1  247.25
4  10017-1  147.48

(5158, 2)

Close to 1/3 (5158/16195) of the recorded lego sets could be found trading on BrickOwl.

In [44]:
# Similar to the BrickLink dataframe, create a set_num - value dictionary
brickowl_dict = {brick_owl['set_num'][i]:brick_owl['value'][i]\
                  for i in range(brick_owl.shape[0])}

In [45]:
# Fill in the nulls in the current_value column of the brick_economy dataframe using above dictionary
for i in range(brick_economy.shape[0]):
    if (np.isnan(brick_economy['current_value'][i])) & (brick_economy['set_num'][i] in brickowl_dict.keys()):
        brick_economy['current_value'][i] = brickowl_dict[brick_economy['set_num'][i]]

Upon inspection, the prices for the following 7 sets were actually prices for multiple-set bundles. Correct for the quantity in the bundle below.

In [47]:
brick_economy.loc[10060, 'current_value'] = brick_economy.loc[10060, 'current_value']/60
brick_economy.loc[10022, 'current_value'] = brick_economy.loc[10022, 'current_value']/60
brick_economy.loc[10059, 'current_value'] = brick_economy.loc[10059, 'current_value']/16
brick_economy.loc[10021, 'current_value'] = brick_economy.loc[10021, 'current_value']/16
brick_economy.loc[10040, 'current_value'] = brick_economy.loc[10040, 'current_value']/16
brick_economy.loc[10200, 'current_value'] = brick_economy.loc[10200, 'current_value']/10
brick_economy.loc[10236, 'current_value'] = brick_economy.loc[10236, 'current_value']/10

#### Load in release year information to further reduce null values.

In [48]:
# The release_year information can be found in the Lego_sets table. Create a 'set_num' - 'year' dictionary
lego_year_dict = {lego_sets['set_num'][i]:lego_sets['year'][i]\
                  for i in range(lego_sets.shape[0])}

In [49]:
# Add the release_year to
brick_economy['release_year'] = [lego_year_dict[set_num] for set_num in brick_economy['set_num']]

In [50]:
brick_economy.describe()

                rrp  current_value       growth  annual_growth  release_year
count  11756.000000   12965.000000  9678.000000   11043.000000  14246.000000
mean      37.701740     168.842803     8.854370       0.102433   2004.929524
std       86.981419     443.251349    39.303947       0.072428     13.890646
min        0.540000       1.530000     0.000000       0.010000   1955.000000
25%        6.990000      20.200000     0.690000       0.054000   1998.000000
50%       17.990000      54.220000     1.966000       0.083000   2009.000000
75%       40.490000     151.160000     5.099750       0.126000   2016.000000
max     5219.100000   13498.650000  1600.201000       0.393000   2021.000000

In [88]:
# Create a copy of the dataframe to test annual growth calculations
annual_growth = brick_economy.copy()

In [89]:
# First calculate the 'growth' based on 'rrp' and 'current_value' 
for i in range(annual_growth.shape[0]):
    if (np.isnan(annual_growth.loc[i, 'growth'])) & (annual_growth.loc[i, 'rrp'] !=0):
        annual_growth.loc[i, 'growth'] = max((annual_growth.loc[i, 'current_value']/annual_growth.loc[i, 'rrp']-1),0)

In [90]:
# Calculate 'annual_growth' based on 'growth'
for i in range(annual_growth.shape[0]):
    if np.isnan(annual_growth.loc[i, 'annual_growth']) & (not np.isnan(annual_growth.loc[i, 'growth'])) & (annual_growth.loc[i,'release_year'] !=2021):
        annual_growth.loc[i, 'annual_growth'] = max(annual_growth.loc[i, 'growth']**(1/(2021-annual_growth.loc[i,'release_year']))-1,0)

In [107]:
# most expensive now
brick_economy.sort_values('current_value', ascending = False).head(5)

,set_num,rrp,current_value,growth,annual_growth,release_year
439,106-1,NaN,13498.65,NaN,0.364,1985
3871,375-2,67.49,11475.00,169.034,0.130,1978
3439,330-3,NaN,9717.53,NaN,NaN,1968
14012,comcon028-1,NaN,7904.68,NaN,0.167,2013
11326,7750-1,101.25,7830.84,76.342,0.242,1980

In [93]:
annual_growth = annual_growth.drop(columns = ['current_value','growth','release_year']).dropna().reset_index(drop = True)

In [94]:
annual_growth.to_csv('data/lego_annual_growth.csv', index = False)

In [95]:
annual_growth.head()

  set_num    rrp  annual_growth
0   001-1   6.68          0.049
1  0011-2   6.06          0.065
2  0011-3  10.13          0.143
3  0012-1   2.69          0.126
4  0013-1   2.69          0.123

In [103]:
annual_growth.shape

(10743, 3)

The final data frame created here contains information about the original retail price and the annual value growth for 10,743 lego sets.

#### Brickinsights Review Score

In [3]:
brick_insights = pd.read_csv('data/brick_insights_reviewscore01032021.csv', header =0, names=['set_num', 'review_score','detail', 'recommendation'])
brick_insights

,set_num,review_score,detail,recommendation
0,001-1,Unknown,Average PPP for System in 1965 is 0.43. PPP fo...,Recommendation: yes 80 / 100 → 80 / 100
1,0011-2,Unknown,We do not currently know how the average price...,Recommendation: meh 75 / 100 → 75 / 100
2,0012-1,Unknown,We do not currently know how the average price...,Recommendation: meh 70 / 100 → 70 / 100
3,0013-1,Unknown,We do not currently know how the average price...,Recommendation: meh 62 / 100 → 62 / 100
4,0014-1,59,We do not currently know how the average price...,Recommendation: meh 62 / 100 → 62 / 100
...,...,...,...,...
10710,TRUNEXOMONSTER-1,Unknown,We do not currently know how the average price...,Recommendation: meh
10711,WEETABIX1-1,Unknown,We do not currently know how the average price...,Recommendation: yes 84 / 100 → 84 / 100
10712,WEETABIX2-1,Unknown,We do not currently know how the average price...,Recommendation: yes 83 / 100 → 83 / 100
10713,WEETABIX3-1,Unknown,We do not currently know how the average price...,Recommendation: yes 88 / 100 → 88 / 100
10714,WEETABIX4-1,Unknown,We do not currently know how the average price...,Recommendation: yes 90 / 100 → 90 / 100

In [4]:
# Drop detail column
brick_insights.drop('detail', axis = 1, inplace = True)

In [5]:
import re

# Extract extra review scores from the recommendation column
scores = []

for i in brick_insights['recommendation']:
   
    if re.findall('\d+', i) == []:
        scores.append(float('NaN'))    
    else:
        scores.append(re.findall('\d+', i)[-2])

In [6]:
# Append these additional scores to the brick_insights dataframe
brick_insights['additional_scores'] = scores

In [7]:
# Replace Unknown values in review_score column with values from Additional_score column where possible
for i in range(brick_insights.shape[0]):
    if brick_insights['review_score'][i] == 'Unknown':
        brick_insights['review_score'][i] = brick_insights['additional_scores'][i]

In [8]:
# Convert review_score to numerical datatype

brick_insights['review_score'] = brick_insights['review_score'].astype(float)

# Dop recommendation and additional_score columns
brick_insights.drop(['recommendation','additional_scores'],axis =1, inplace = True)

In [9]:
brick_insights.isnull().mean()

set_num         0.000000
review_score    0.035931
dtype: float64

In [10]:
# Since the proporation of null values is low (~3.6%), use forward-fill to fill the Nulls
brick_insights.fillna(method = 'ffill', inplace = True)

In [11]:
# confirm removal
brick_insights.isnull().mean()

set_num         0.0
review_score    0.0
dtype: float64

In [12]:
brick_insights.to_csv('data/brick_insights.csv', index = False)